
.link {
  cursor: pointer;
}

.rateMe {
    animation: buttonSurface 2s linear infinite;
        background: linear-gradient(280deg ,transparent,rgba(255, 255, 255, 0.959) );
        background-size: 50% 50%;
        background-position: 0% 0%;
        cursor:pointer;
        @keyframes buttonSurface {
          0% {
           background-position: 0% 0%;
          }
          50% {
            background-position: 50% 50%;
          }
          100% {
            background-position: 100% 50%;
          }
        }
}
